{% extends "base.html"%}

{% block content %}
<div>
    <h1 class="title has-text-centered">Contact Us</h1>
    <figure class="image is-2by1">
        <img src="static/images/contact.jpg" alt="">
    </figure>
</div>
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
    
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
            </div>
        </div>
    </div>
</section>

{% endblock %}
